.box{
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.inside-box{
    text-align: center;
    background-color: rgb(157, 91, 219);
    padding: 5px 5px;
    border: 1px solid cornflowerblue;
}
.btm{
    margin-bottom: 20px;
}
.box-no-text{
    text-align: center;
    background-color: cornflowerblue;
    padding: 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    color: cornflowerblue;
}